body {
	background: url('../img/background-rick-and-morty.png');
	background-size: 100%;
	font-style: 'Helvetica';
}

.logo {
	text-align: center;
}

h1,
p {
	color: rgb(77, 232, 246);
	font-family: 'Faster One', cursive;	
	font-size: 56px;
	position: relative;
	text-align: center;
  text-shadow: 2px 3px 1px #024c57;
}

.play {
  background: white; 
  border: none;
  border-radius: 5px;
  float: left;
  font-size: 100px;
  font-weight: bold;
  left: -8px;
  padding: 50px;
	position: relative;
  top: -1em;
}

.play:hover {
	background: black;
	color: #ec5fad;
	text-shadow: 2px 3px 1px white;
}

.rules {
	color: black;
	display: block;
	position: relative;
	padding: .3em;
	float: right;
	top: -7em;
	font-size: 18px;
	font-weight: bold;
	background: rgba(255, 255, 30, .6);
	border-radius: 5px;	
	width: 22em;
}

ul {
	list-style: none;
	padding: 0px 10px;
}

li {
  margin: -5px 0px 30px 5px;
}

li.controls {
	font-size: 24px;
	font-weight: 800;
	text-align: center;
}

.pitch {
  background: rgba(0,0,0,.8);
  position: absolute;
  height: 36em;
	right: 1em;
  top: 1em;
  width: 78em;
}

.rick {
	background: url(../img/rick.png);
	background-size: 80px;
  height: 105px;
  left: 1em;
  position: absolute;
	top: 160px;
	width: 80px;
}

.morty {
	background: url(../img/morty.png);
	background-size: 120px;
	background-position: -20px;
	bottom: 160px;
	height: 105px;
	left: 1em;
	position: absolute;
	width: 80px;
}

#monster.attack {
	background: url(../img/monster.gif);
	background-size: 420px;
	height: 300px;
	position: absolute;
	top: 135px;
	width: 420px;
}